@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  background-image: url('https://i.imgur.com/8aE2war.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 2250px auto;

  /* background-color: #191919; */

  /* background: rgb(205,205,205);
  background: linear-gradient(151deg, rgba(205,205,205,1) 0%, rgba(77,77,77,1) 40%, rgba(0,0,0,1) 99%); */
  margin: 0;
}

#app {
 display: grid;
 grid-template-columns: 250px 4fr;
 height: 100%;
 color: white;
 font-family: 'Montserrat', sans-serif;
}

/* Navigation bar */

.navBar{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid white;
}

#logo {
  height: 200px;
  width: 100%;
  background-image: url('https://i.imgur.com/ALQnrfR.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px auto;
  /* background-color: white; */
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid white;
  padding-top: 40px;
  width: 100%;
}

.buttons {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 12px;
  padding-top: 10px;
  border: 2.2px solid white;
  border-radius: 17px;
  font-size: 16pt;
  color: white;
  width: 150px;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.buttons:hover {
  background-color: #390459;
}

footer {
  /* background-color: white; */
  color: white;
  font-size: 9pt;
  border-top: 1px solid white;
  position: absolute;
  bottom: 0;
  padding: 5px;
}

#developedBy {
  font-weight: bold;
}

/* 'Home' component */

#home {
  font-family: 'Montserrat', sans-serif;
}

#onyxLogo {
  background-image: url('https://i.imgur.com/GYa3pSb.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100px;
  width: 300px;
}

.parentDivs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#intro {
  padding-bottom: 400px;
}

/* 'Strategies' component */

#strategyContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 400px;
}

.strategy {
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 14px;
  color: white;
  text-decoration: none;
  transition: box-shadow 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.strategy:hover {
box-shadow: 0 0 8px white;
}


.strategy:visited {
  color: white;
}

/* 'Docs' component */

#docsContainer {
  padding-bottom: 400px;
  width: 700px;
}